<?xml version="1.0"?>
<robot
  name="desk">
  <link name="desk">
    <visual>
      <geometry>
        <box size="0.45 0.45 0.04"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.45 0.45 0.04"/>
      </geometry>
      <origin xyz="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
      <origin xyz="0 0 0"/>
    </inertial>
  </link>
</robot>