<?xml version="1.0"?>
<robot
  name="hole_box">
  <link name="hole_box">
    <visual>
      <geometry>
        <box size="0.154 0.101 0.051"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.154 0.101 0.051"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
      <origin xyz="0 0 0"/>
    </inertial>
  </link>
</robot>
